li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 15px;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.03s;
  border-bottom: 2px solid #f3f4f6;
}

li:hover {
  background-color: #f3f4f6;
}
